*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    padding: 6vh;
    background-color: #F8F4E1;
}

.mainContainer{
    background-image: url('../images/baclgroundimage.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 88vh;
}

nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgba(28, 18, 8, 0.3);
}

.mainContainer nav h1{
    color: #F8F4E1;
    text-shadow: #543310 3px 3px 2px;
    font-size: 6vh;
    padding: 1vh;
}
.mainContainer nav .navlist {
    display: flex;
    justify-content:space-around;
    list-style: none;
}

.mainContainer nav .navlist li {
    font-size: 3.6vh;
    line-height: 9vh;
    border-bottom:3px solid transparent;
}

.mainContainer nav .navlist li a{
    color: #F8F4E1;
    text-decoration: none;
    padding: 3vh 4vh 3vh 4vh;
    
}

.mainContainer nav .navlist li:hover{
    background-color:rgba(175, 143, 111,0.5);
    border-bottom:3px solid #F8F4E1;
}

.mainContainer nav .open,.close{
    position: absolute;
    top: 6vh;
    right: 8vh;
    color:#F8F4E1;
    font-size: 5vh;
    cursor: pointer;
    line-height: 9vh;
    display: none;
}

.intro{
    width: 100%;
    height: 79vh;
    display: flex;
    align-items: center;
    padding: 17vh;
    font-size: 8vh;
    color: #281909;
}
.intro span{
    font-weight: 900;
    font-size: 12vh;
}

.gamesBox{
    display: block;
    text-align: center;
    height: 88vh;
}

.gamesBox h1{
    margin: 8vh;
    font-size: 9vh;
    color: #3a230b;
    border-bottom:2px solid #543310;
}
.gamesBox .games{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:10vh; 
}

.gamesBox .games div{
    background-color: #74512D;
    text-align: center;
    padding: 6vh;
    cursor: pointer;
    border: 2px solid #281908;
    box-shadow: #4e4944 3px 3px 7px 4px;
    border-radius: 10px;
    font-size: 4vh;
    color: #F8F4E1;
}

.gamesBox .games div:hover{
    transform: scale(1.1);
}

.gamesBox .games div img{
    height: 30vh;
    border-radius: 50%;
    border:3px solid #281908;
}

.gamesBox .games div i{
    font-size: 7vh;
    margin: 2vh;
}

.gamesBox .games div i:hover{
    color: #281908;
    border-radius: 50%;
    transform: scale(1.2);
}

@media (max-width:900px){
    .mainContainer nav .navlist{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 10;
        background-color:#281908;
        display: none;
    }

    .mainContainer nav .open{
        display: block;
    }
    .mainContainer nav .navlist li:hover{
        transform: scale(1.2);
        border-bottom: transparent;
    }
    .close{
        display: block;
    }

    nav{
        border-bottom:3px solid #543310;
    }
    .intro{
        text-align: center;
        font-size: 5vh;
        padding: 3vh;
    }
    .intro span{
        font-size: 8vh;
    }

    .gamesBox .games div{    
        padding: 3vh;
        width: 220px;
        height: 300px;
    }
     
    .gamesBox .games div img{
        height: 22vh;
    }

}

@media (max-width:400px){
    body{
        padding: 4vh;
    }
    .intro{
        text-align: center;
        font-size: 4vh;
        padding: 4vh;
    }
    .intro span{
        font-size: 5vh;
    }
    .mainContainer nav .open{
        font-size: 3vh;
        top:3.4vh;
    }

    .gamesBox h1,.gamesBox div i{
        font-size: 4vh;
    }
    .gamesBox div p{
        font-size: 2.5vh;
    }

}

